<!DOCTYPE html><html class=''>
<head>
<style class="cp-pen-styles">body{
  font-family:'Roboto', sans-serif;
  font-size:18px;
  padding:50px;
  color:#fff;
  margin:0;
  background:url(./images/dashboard-background.jpg) #5E8AB5;
}
h2{
  font-size:30px;
  font-weight:normal;
  background:rgba(255,255,255, 0.5);
  padding:20px;
  color:#fff;
  text-shadow:2px 2px 0 rgba(0,0,0,0.5);
  margin-top:0;
}
h3{
  color:#fff;
  font-weight:normal;
  border-bottom:3px solid rgba(255,255,255,0.3);
}
.container{
  background:#dedede;
  width:200px;
  padding:10px;
  min-height:100px;
  line-height:95px;
  margin:10px;
  float:left;
}
.container > span{
  display:inline-block;
  line-height:20px;
  vertical-align:middle;
  color:#4B4B4B;
}
.box-wrapper{
  overflow:hidden;
}
pre{
  background:rgba(255,255,255, 0.5);
  color:rgba(0,0,0,1);
  padding:10px;
}</style>
<script type="text/javascript" src="./javascripts/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $.ajax({
         url:'/api/aqi',
         type:'get',         //数据发送方式
         dataType:'json',   //接受数据格式
         success:function(msg, textStatus) {
            if (msg.length > 0) {
              var data = msg[0].sum / msg[0].count;
              $("#div1").append(Math.round(data));
            }
         }
      });

});
</script>
</head>
<body>

<h1>Hello</h1>
<h1>Welcome to the IoT DEMO dashboard</h1>
<h3 class="subtitle">Examples of this method</h3>
<div class="box-wrapper">
  <div class="container">
    <span>点灯</span>
    <a href="/led">Demo</a>
  </div>
  <div class="container">
    <span>AQI:<div id="div1"></div></span>
  </div>
  <div class="container">
    <span>空气指数趋势</span>
    <a href="/trend">Demo</a>
  </div>
</div>

<div class="note">
  <p>http://alinode.aliyun.com</p>
  <p>http://aliyun.com</p>
</div>

</body></html>