<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> <%= title %> </title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="./javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/echarts-all-3.js"></script>
    <script type="text/javascript" src="./javascripts/dataTool.min.js"></script>
</head>


<body>
    <form id="myform"  method="get">
        <label for="sensor">传感器Id</label>
        <input type="number" name="id" value=1>

        <label for="precision" style="margin-left: 20px">时间间隔</label>
        <select id="precision" name="precision">
          <option value="min">每分钟</option>
          <option value="day">每日</option>
        </select>

        <label for="stime" style="margin-left: 20px"> 开始日期</label><input id="stime" name="st" type="date" value="2017-02-01"/>
        <label for="etime"> 结束日期</label><input id="etime" name="et" type="date" value="2017-04-01"/>
        <input type="button"  class='button' id="lastinput" style="margin-left: 20px"  value="确认提交"/><br><br>
    </form>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main"  style="width: 95%; height: 600px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        var option = {
        title: {
            text: 'HangZhou AQI'
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            data: []
        },
        yAxis: {
            splitLine: {
                show: false
            }
        },
        toolbox: {
            left: 'center',
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                restore: {},
                saveAsImage: {}
            }
        },
        dataZoom: [{
            startValue: '2017-02-01'
        }, {
            type: 'inside'
        }],
        visualMap: {
            top: 10,
            right: 10,
            pieces: [{
                gt: 0,
                lte: 50,
                color: '#096'
            }, {
                gt: 50,
                lte: 100,
                color: '#ffde33'
            }, {
                gt: 100,
                lte: 150,
                color: '#ff9933'
            }, {
                gt: 150,
                lte: 200,
                color: '#cc0033'
            }, {
                gt: 200,
                lte: 300,
                color: '#660099'
            }, {
                gt: 300,
                color: '#7e0023'
            }],
            outOfRange: {
                color: '#999'
            }
        },
        series: {
            name: 'HangZhou AQI',
            type: 'line',
            data: [],
            markLine: {
                silent: true,
                data: [{
                    yAxis: 50
                }, {
                    yAxis: 100
                }, {
                    yAxis: 150
                }, {
                    yAxis: 200
                }, {
                    yAxis: 250
                }, {
                    yAxis: 300
                }]
            }
        }
    };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        function render_trend() {
            $.ajax({
                 url:'/api/air',
                 type:'get',         //数据发送方式
                 dataType:'json',   //接受数据格式
                 data:$("#myform").serialize(),
                 success:function(msg, textStatus) {
                    option.xAxis.data = msg.x;
                    option.series.data = msg.y;
                    myChart.showLoading();
                    myChart.setOption(option);
                    myChart.hideLoading();
                 }
              });
        }

        $(document).ready(function() {
            render_trend();
            $('#lastinput').click(function() {
              render_trend();
            });
        });

    </script>
</body>
</html>
